# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.agents
.junie
.vite
.tanstack
.vscode
# scripts
scripts/build-win.sh
scripts/build-deb.sh

# Release binaries and signatures
release/deb/
release/windows/

# Third-party resources downloaded during build
src-tauri/resources/obs-virtualcam-module64.dll